// Specific CSS for your home-page
body {
  background-image: asset_url("Group.png");
  font-family: 'Reem Kufi', sans-serif;
}

h1{
  font-family: 'Reem Kufi', sans-serif;
  color: #7ECFC0;
}

h2 {
    font-size: 28px;
    color: #7ECFC0;
}

h3 {
  font-size: 20px;
  color: #EC8F6A;
}

h4 {
  color: #7ECFC0;
  padding-left: 50px;
  padding-bottom: 50px;
}

p {
  color: #EC8F6A;
  font-size: 20px;
}

li {
  list-style-type:none;
  justify-content: center;
  align-items: center;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}

.carousel-item img {
  width: 400px;
  height: 300px;
  border-radius: 100px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.banner h1 {
  margin: 0;
  color: #7ECFC0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #EC8F6A;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-category > img {
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

.car_cards > img {
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

.cars-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px 0;
}

.cars-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

 #title{
  font-family: 'Reem Kufi', sans-serif;
  color: #7ECFC0;
  margin:0;
  align-items: center;
 }

 #sub_title{
  color: #EC8F6A;
   margin:0;
   align-items: center;
 }

.cars-card-image {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  & img {
    object-fit: cover;
  }
}
