
<div class="banner">
<div class="intro">
  <div class="card-category">
    <h1>Find your ideal car for you here on<br /><strong>Get a Ride<strong></h1>
    <p> Search through houndreds of cars from our trousted members. Get in touch with the owners, for a more personal renting experience.
    </p>
  </div>
  <div class="card-category">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/car1.gif"  alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/car2.gif"  alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/car3.gif"  alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  <p>
    Take a look at some of or most popular cars
  </p>
  <div class="cards">
  <div class="card-category">
   <img src="/assets/images/yellow_car.png" alt="yellow car"/>
   <p>
    £100/day
    <br>
    Owner: Ella
  </p>
  </div>

  <div class="card-category">
     <img src="/assets/images/grey_car.png" alt="grey car"/>
     <p>
    £150/day
    <br>
    Owner: Mike
  </p>
  </div>

  <div class="card-category">
     <img src="/assets/images/campvan.png" alt="campvan"/>
     <p>
       £105/day
     <br>
       Owner: Jasper
     </p>
  </div>
</div>
