.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.navbar {
  color: #EF4B4B;
}

.dropdown-menu {
  background-color: #F3FCDA;
  border-color: #FF935C;
}

.dropdown-item {
  color: #7ECFC0;
}

.avatar{
  width: 50px;
}
