<h1>Cars#new</h1>
  <p>Find me in app/views/cars/new.html.erb</p>
    <div class="cards">
      <%=cl_image_tag("jot1lhablaffvqnpdop3",  swidth: 400, height: 300, crop: :fill) %>
    </div>
<%= render 'form', car: @car %>
